<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="categoryForm">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Enter the category's name" required formControlName="name"
               [disabled]="submitting"></ion-input>
  </ion-item>
</ion-content>
